/*googe font*/	
body {
	font-family: "open sans", sans-serif;
}

/*css reset*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}


/*all html elements have default values for their margin and padding properties. giving them the value of zero makes it easier foir us to manipulate the size and positioning of elements.

*/

nav {
/*Shorthand property: apply padding on all sides*/
	padding: 0.8rem;
/*creates space between the nav and the intro section*/
/*the margin-bottom property only changes the spaces at the bottom of the element. this is good for instances where a single space is needed to be changed.	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type:none;
	 }

/*Selector Combinator: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2rem;
		padding-bottom: 3rem;
		text-align: center;
}

.header { text-align: center;
 }

/*Even though we hane access to the padding and margin properties when centering horizontally, the "text align" property is still better to use.
Manipulating the padding and margin might affect non-text tags to be added in the future, which would return unexpected results.*/

/*we have used descendant selector*/
#intro button {
		color: white;
		font-weight: bold;
		background-color: #c2195b;
		border-radius: 25px;
		font-size: 1rem;
		padding: 1rem;
}
/* the selector used is a descendant selector even though there is only one button present in the page. this is appropriate as it helps on code readability telling the developer that the button is located in the intro section. */
/*font-weight* thickness of text*/

/* that padding property is used here because we want to make the button larger by creating space from the text content to the borders of the button
 */
#succeed-info {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2rem;
		padding-bottom: 3rem;


}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {

/*inline block allows the card card to appear beside each other	*/
	display: inline-block;

/*vertical align allows our elements to be aligned*/
	vertical-align: top;

/*allows for cards to have equal height that adjust with the content	*/
	min-height: 175px;

/*use only 30% to not 33.33% to avoid overflow and horizontal scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}
footer span {
		margin-left: 0.5rem;
		margin-right: 0.5rem;

}

/*ACTIVITY*/

#pre-footer {background-color: #002540}

 #pre-footer .prefooter {
		color: white;
		
		display: inline-block;
		
		min-height: 175px;
		vertical-align: top;
		width: 20%;
		margin-top: 1rem;
		margin-right: .5rem;
		margin-left: .5rem;
		padding-top: .5rem;
		line-height: 1.7rem;
}


